.root {
	overflow: hidden;
	position: relative;
}

.topRight {
	position: absolute;
	top: 10vw;
	right: 2vw;
	z-index: 1;

	> div > div > span {
		background-color: #ffcd06;
	}
}

.bottomLeft {
	position: absolute;
	bottom: 10vw;
	left: 2vw;
	z-index: 1;

	> div > div > span {
		background-color: #60d4f9;
	}
}

.ayuu {
	position: absolute;
	bottom: -12vw;
	right: -20vw;
	z-index: 1;
	background: linear-gradient(90deg, #087fc2, #33dde8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.im {
	position: absolute;
	top: -12vw;
	left: -20vw;
	z-index: 1;
	background: linear-gradient(180deg, #ec263d, #fb649b);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
